@charset "utf-8";
@import 'reset.css';

body {
	font-family: Arial, Helvetica, sans-serif;
}

.page-wrap {
	position:relative;
	margin:25px;
}

.odd {
	background-color:#eee;
}

.even {
	background-color:#ddd;
}

.client_table {
	padding:20px;
	display:flex;
	flex-wrap:wrap;
}

.client_table p {
	flex-basis: 100%;
}

.client_table input[type="text"] {
	padding:5px;
}
.client_table fieldset {
	padding:5px;
}
.client_table .name {
	width:225px;
}
.link_table .url {
	width:400px;
}

.client_table .delete {
	width:65px;
	padding:10px;
	background-color:#E1474A;
	color:#fff;
}
.client_table .update {
	width:50px;
}



