@charset "utf-8";
.sidebar {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	background-color:#d8ecf3;
	float:right;
}

.sidebar table {
	border:1px solid #222;
}
.sidebar table td {
	padding:0 20px;
}
.odd {
	background-color:#eee;
}

.even {
	background-color:#ddd;
}

.today {
	color:#f00;
}
.past {
	background-color:#ff0;
	color:#f00;
	font-weight:bold;
}