/* CSS Document */
/* custom */

body {
	font-family: Arial, Helvetica, sans-serif;
}

.page_wrap {
	position:relative;
	margin:25px;
}

.content {
	width:100%;
}

.addlink {
	border:1px solid #ccc;
	padding:5px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color:#D9DCE5;
	flex-basis: 588px;
	
	label {
		font-weight: bold;
		flex-basis:92px;
		margin-left:3px;
	}
	input {
		padding:3px;
		flex-basis:452px;
		margin-top:3px;	}
	.input-group {
		display:flex;
		flex-basis:95%;
		input {
			flex-basis:15%;
		}
	}
}

nav.menu {
	ul {
		list-style:none;
		display:flex;
		flex-wrap:wrap;
		align-items:center;
		justify-content:center;
	}
	li {
		padding:5px;	
		border:outset 2px #ccc;
		flex-basis:150px;
		margin:10px;
		min-height:30px;
	}
	a {
		text-align:center;
		text-decoration:none;
		font-size:12px;
		background-color:#fff;
		color:#333;
		display:block;
	}

	li:hover {
		border:inset 2px #ccc;
		opacity:.6;
	}	
}

.client {
	margin:10px;
	p {
		margin-left:25px;	
	}
}

.sidebar {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	display:flex;
	justify-content: space-around;	
	flex-wrap: wrap;
	
	table {
		background-color:#d8ecf3;	
		border:1px solid #222;
		flex:0 0 30%;
	}
	
	table td {
		padding:0 20px;
		
	}	
}

.odd {
	background-color:#eee;
}

.even {
	background-color:#ddd;
}

.today {
	color:#f00;
}
.past {
	background-color:#ff0;
	color:#f00;
	font-weight:bold;
}

.btn {
	margin-top:4px;
	margin-left:4px;
	display:block;
	width:100px;
	height:25px;
	text-align:center;
	background-color:#ACAEBF;
	border:outset #000;
	color:#000;
	text-decoration: none;
	font-family: Helvetica, Arial, "sans-serif";
	font-size:15px;
}

.admin {
	width:98%;
	margin:0 auto;
	padding-bottom:2px;
	background-color:#d8ecf3;
	.btn {
		display: inline-block;
	}
}

.link_table {
	padding:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	
		input[type="text"] {
			padding:5px;
		}
		fieldset {
			padding:5px;
		}
		.name {
			width:225px;
		}
		.url {
			width:400px;
		}
		.image {
			width:170px;
		}
		.image_width {
			width:50px;
		}
		.image_height {
			width:50px;
		}
		.sort_order {
			width:50px;
		}
		.delete {
			width:50px;
		}
		.update {
			width:50px;
		}	
}
		
table.iplist {
	padding:10px;
	margin:10px;
}

table.iplist th, table.iplist td {
	padding:5px;
}

.button {
	padding:10px;
	display:block;
	border-top:2px solid #ccc;
	border-left:2px solid #ccc;
	border-bottom:2px solid #333;
	border-right:2px solid #333;
	border-radius:2px;
	
	background-color:#A5ACD7;
	text-align:center;
	color:#fff;
	text-decoration: none;
	margin-top:3px;
}

.alert-danger {
	color:#f00;
}

table.video {
	background-color:#644C9A;
	margin:20px auto 0;
	
	td {
		padding:3px;
	}
}

form.hydration {
	margin:25px;
	padding:25px;
	border: 1px solid #ccc;
	border-radius: 10px;

	label {
		margin-left:25px;
	}
	input {
		padding:10px;
	}
	button {
		padding:10px;
		margin:10px;
		background-color:#431263;
		color:#fff;
		border-radius: 5px;
	}
}

div.hydration {
	width:50%;
	margin:25px auto;
	line-height: 1.5em;
	border-radius: 10px;
	padding:25px;
	border:2px solid #370F3A;
	box-shadow: 3px 3px #431263;
}

.reminders table {
	width:450px;
}
